.game-container {
    margin: 0px auto;
}

.game-map {
    position: relative;
}

div.layer, div.layer div {
    position: absolute;
}

#tiles div {
    border: 1px solid grey;
}

.default .floor {
    background-color: lightgrey;
}

.default .wall {
    background-color: skyblue;
}

.goal {
    background-image: url("https://img.icons8.com/external-bearicons-outline-color-bearicons/64/000000/external-Flag-business-and-marketing-bearicons-outline-color-bearicons.png");
}

.player {
    background-image: url("https://img.icons8.com/ios/64/000000/car--v2.png");
    transition: left 0.2s linear, top 0.2s linear;
}

#success-msg {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: calc(100% - 8px);
}

body.success #success-msg {
    opacity: 1;
    transition: opacity 0.2 ease;
}

#map-and-controls {
    display: flex;
    justify-content: center;
    margin-left: 120%;
}

/*
   * player and goal are slightly smaller than tiles
   */

.player, .goal {
    transform-origin: center;
    transform: scale(0.85);
}