<!--Main Navigation-->
<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand" style="font-size: x-large;">
            ZoomAway
        </a>
        <!-- Icon -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <span class="navbar-text" style="font-size: larger;">
                Admin
            </span>
            <li class="nav-item">
                <a class="nav-link" href="">&nbsp&nbsp<i data-feather="log-out"></i></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Navbar -->

<!-- Sidebar -->
<nav id="sidebarMenu" class="d-lg-block sidebar collapse bg-white">
<div class="position-sticky">
    <div class="list-group list-group-flush">
    <a href="dashboard" class="list-group-item list-group-item-action" id="dashboard">
        <i data-feather="bar-chart"></i>
        <span>&nbsp&nbsp Dashboard</span>
    </a>
    <a href="challenges" class="list-group-item list-group-item-action" id="challenges">
        <i data-feather="play-circle"></i>
        <span>&nbsp&nbsp Challenges</span>
    </a>
    </div>
</div>
</nav>
<!-- Sidebar -->
  
 