<!DOCTYPE html>
<html>

<head>
    <%- include('common/head') %>
    
    <!-- Highlight current page -->
    <script>
        $(document).ready(function(){
            $("#dashboard").removeClass("currentPage");
            $("#challenges").addClass("currentPage");
        });
    </script>
</head>

<body>
    <header>
        <%- include('common/header') %>
    </header>
    
    <!--Main layout-->
    <main>
        <div class="firstDiv">
            <div class="container pt-5">
                <h1 class="d-flex mt-4 h2">Challenges</h1>
                <table class="table mt-4 table-striped border border-dark challengesTable" style="background-color: #EAEDF1;">
                    <thead class="table-dark">
                        <tr class>
                            <th class="col-md-10">List of Challenges</th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1 text-right"><a href="createChallenge"><i data-feather="plus"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C001</td>
                            <td class="text-right"><span data-feather="edit"></span></td>
                            <td class="text-right"><span data-feather="trash-2"></span></td>
                        </tr>
                        <tr>
                            <td>C002</td>
                            <td class="text-right"><span data-feather="edit"></span></td>
                            <td class="text-right"><span data-feather="trash-2"></span></td>
                        </tr>
                        <tr>
                            <td>C003</td>
                            <td class="text-right"><span data-feather="edit"></span></td>
                            <td class="text-right"><span data-feather="trash-2"></span></td>
                        </tr>
                        <tr>
                            <td>C004</td>
                            <td class="text-right"><span data-feather="edit"></span></td>
                            <td class="text-right"><span data-feather="trash-2"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <%- include('common/footer') %>
    </footer>
</body>
</html>