<!DOCTYPE html>
<html>

<head>
    <%- include('common/head') %>
    <style>
        .game-container {
    margin: 0px auto;
}

.game-map {
    position: relative;
}

div.layer, div.layer div {
    position: absolute;
}

#tiles div {
    border: 1px solid grey;
}

.default .floor {
    background-color: lightgrey;
}

.default .wall {
    background-color: skyblue;
}

.goal {
    background-image: url("https://img.icons8.com/external-bearicons-outline-color-bearicons/64/000000/external-Flag-business-and-marketing-bearicons-outline-color-bearicons.png");
}

.player {
    background-image: url('https://img.icons8.com/nolan/64/car.png');
    transition: left 0.2s linear, top 0.2s linear;
}

/*
   * player and goal are slightly smaller than tiles
   */

.player, .goal {
    transform-origin: center;
    transform: scale(0.85);
}
.maze {
    height: 320px;
}
    </style>
</head>

<body style="background-color: white;">
    <header>
        <div class="section-title">
            <h2>Create New Challenge</h2>
        </div>
    </header>
    
    <!--Main layout-->
    <main>
        <div class="create-form container mt-5 mb-5">  
            <!-- Create Form Section -->
            <form action="/"></form>
                <div class="row">
                    <div class="form-group col-md-2">
                        <p>Name</p>
                    </div>
                    <div class="form-group col-md-10">
                        <input type="text" name="challenge-name" class="form-control" id="challenge-name" placeholder="Challenge Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <p>Instruction</p>
                    </div>
                    <div class="form-group col-md-10">
                        <textarea class="form-control" name="instruction" id="instruction" placeholder="Instructions"></textarea>
                    </div>
                </div>
                <!-- Maze Section -->
                <div class="row maze">
                    <div class="form-group col-md-2">
                        <p>Maze Path</p>
                    </div>
                    <div class="form-group col-md-10">
                        <p>Click on the <b>black</b> tile below to create the path of the maze.</p>
                        <%- include('common/maze') %>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="cancel" class="btn btn-dark cancel">Cancel</button> &nbsp&nbsp
                    <button type="create" class="btn btn-dark submit">Create</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('common/footer') %>
    </footer>
    <script src="/js/maze.js"></script>
    <script>
        // <!-- Remove Sidebar -->
        $(document).ready(function(){
            $("#sidebarMenu").removeClass("sidebar");
            $(".position-sticky").css('display', 'none');
        });
    </script>
</body>
</html>