<!DOCTYPE html>
<html>

<head>
    <%- include('../common/head') %>

</head>

<body>
    <header>
        <%- include('../common/header') %>
    </header>

    <!--Main layout-->
    <main>
        <div class="firstDiv">
            <div class="container pt-5">
                <h1 class="d-flex mt-4 h2">Dashboard Sensor Data</h1>
                <table class="table mt-4 table-striped border border-dark dashboard" id="challengeTable"
                    style="background-color: #EAEDF1;">
                    <thead class="table-dark">
                        <tr class>
                            <th class="col-md-33">Wheel Encoder</th>
                            <th class="col-md-33">Time taken</th>
                            <th class="col-md-33">Created at</th>
                            <!-- <th class="col-md-1 text-center plus"><a href="createChallenge"><i
                                        data-feather="plus"></i></a></th> -->
                        </tr>
                    </thead>
                    <!-- Wheel Encoder -->
                        <tr>
                            <td>90</td>
                            <td>300</td>
                            <td>1</td>

                        </tr>
                    <!--Time taken  -->
                        <tr>
                            <td>92</td>
                            <td>290</td>
                            <td>2</td>
                        </tr>
                    
                        <tr>
                            <td>90</td>
                            <td>292</td>
                            <td>3</td>

                        </tr>
                        <tr>
                            <td>89</td>
                            <td>295</td>
                            <td>4</td>
                        </tr>


                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../common/footer') %>
    </footer>
    <!-- Highlight current page -->
    <script>
        $(document).ready(function () {
            $("#dashboard").addClass("currentPage");
            $("#challenges").removeClass("currentPage");
        });
    </script>

</body>

</html>