<!DOCTYPE html>
<html>

<head>
    <%- include('common/head') %>
</head>

<body style="background-color: white;">
    <header>
        <div class="section-title">
            <h2>Edit Challenge</h2>
        </div>
    </header>
    
    <!--Main layout-->
    <main>
        <div class="edit-form container mt-5">  
            <!-- Create Form Section -->
            <form action="/"></form>
                <div class="row">
                    <div class="form-group col-md-2">
                        <p>Name</p>
                    </div>
                    <div class="form-group col-md-10">
                        <input type="text" name="challenge-name" class="form-control" id="challenge-name" placeholder="Challenge Name"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <p>Instruction</p>
                    </div>
                    <div class="form-group col-md-10">
                        <textarea class="form-control" name="instruction" id="instruction" placeholder="Instructions"></textarea>
                    </div>
                </div>
                <!-- Maze Section -->
                <div class="row maze">
                    <div class="form-group col-md-2">
                        <p>Maze Path</p>
                    </div>
                    <div class="form-group col-md-10">
                        <p>Click on the <b>black</b> tile below to create the path of the maze.</p>
                        <span class="form-control" name="maze" id="maze"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="cancel" class="btn btn-dark cancel">Cancel</button> &nbsp&nbsp
                    <button type="create" class="btn btn-dark submit">Edit</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('common/footer') %>
    </footer>
    
    <script>
        // <!-- Remove Sidebar -->
        $(document).ready(function(){
            $("#sidebarMenu").removeClass("sidebar");
            $(".position-sticky").css('display', 'none');
        });
    </script>
</body>
</html>