<!DOCTYPE html>
<html>

<head>
    <%- include('common/head') %>

    <!-- Highlight current page -->
    <script>
        $(document).ready(function(){
            $("#challenges").removeClass("currentPage");
            $("#dashboard").addClass("currentPage");
        });
    </script>
</head>

<body>
    <header>
        <%- include('common/header') %>
    </header>

    <!--Main layout-->
    <main>
        
    </main>

    <footer>
        <%- include('common/footer') %>
    </footer>

</body>

</html>